html, body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content:center ;
    flex-direction: column;
}

.container{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    align-content: flex-start;
    flex-wrap: wrap;
    flex: none;
    width: calc(30px * 16);
    height: calc(30px * 16);
    border: 1px solid black;
}

.div{
    box-sizing: border-box;
    flex-wrap: wrap;
    flex:auto;
}

.div:hover{
    background-color: black;
}